
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: grey;
	text-align: center;
	padding: 20px;
}
#nav
{
	float: left;
	background-color: brown;
	width: 140px;
	min-height: 620px;
	padding: 10px
}

#content
{
	float: left;
	padding: 20px;
	width: 640px;
}

#ad
{
	float: left;
	width: 140px;
	min-height: 620px;
	padding: 10px;
	background-color: brown;
}

#footer
{
	clear: both;
	background-color: grey;
	padding: 20px;

}


